*{
            padding: 0;
            margin: 0;
        }

        .navber{
            display: flex;
            background-color: yellow;
            
        }
        ul>li{
            list-style: none;
            padding: 20px;
            background-color: red;
           margin: 20px;
           border: 2px solid black;
           border-radius: 10px;
 
        }

        ul li:hover{
            background-color: green;
            box-shadow: 12px 8px 5px gray;

        }

        ul li a{
            text-decoration: none;
            color: white;

        }









        .box{
            background-color: greenyellow;
            height: 100px;
            width: 100px;
            padding: 10px;
            margin: 10px;
            border: 2px solid gray;
            border-radius: 10px;
        }

        .container{
            display: flex;
            justify-content:space-evenly;
            
        }

        .new-cotainer{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: hotpink;
        }

        .item{
  background-color:darkblue;
            height: 100px;
            width: 200px;
            padding: 10px;
            margin: 10px;
            border: 2px solid gray;
            border-radius: 10px;
            color: white;
        }
        .child{
            color: white;
            background-color: red;
            height: 300px;
            width: 500px;
        }
        .card{
            display: flex;
            background-color: blueviolet;
            align-items: center;
            height: 700px;
            justify-content: center;
        }